:root {
    --tabs-background-color: #282828 !important;
/*     --tab-active-bg-color: #257 !important; */
    --tab-border-radius: 1px!important;
    
    --tab-outline-color: blue!important;
    --tab-outline: 0px solid var(--tab-outline-color) !important;
    --tab-outline-offset: 0px!important;
    
    --tab-selected-bgcolor: rgb(7, 110, 72) !important;
    --tab-inactive-bg-color: #333 !important;
    --tab-active-fg-fallback-color: #eee !important;
    /* color of text in an active tab without a container */
    --tab-inactive-fg-fallback-color: #888 !important;
    /* color of text in an inactive tab without a container */
    --tab-hover-background-color: #333 !important;
    --urlbar-focused-bg-color: #1c1b2200 !important;
    --urlbar-not-focused-bg-color: #1c1b2200 !important;
    --toolbar-bgcolor: #353535ee !important;
    --toolbar-field-background-color: #00000000 !important;

    /* try increasing if you encounter problems */
    --urlbar-height-setting: 18px !important;
    --tab-min-height: 14px !important;

    /* I don't recommend you touch this unless you know what you're doing */
    --arrowpanel-menuitem-padding: 2px !important;
    --arrowpanel-border-radius: 0px !important;
    --arrowpanel-menuitem-border-radius: 0px !important;
    --toolbarbutton-border-radius: 0px !important;
    --toolbarbutton-inner-padding: 0px 0px !important;
    --toolbar-field-focus-background-color: var(--urlbar-focused-bg-color) !important;
    --toolbar-field-focus-border-color: transparent !important;
    --urlbarView-row-gutter: 0px !important;
    --icon-size-default: 12px !important;
    --urlbar-text-align: left;
    /*   --button-outer-padding-block-start: 12px!important; */
    /*   --button-outer-padding-inline: 1px!important; */
    /*   --button-outer-padding-block: 2px!important; */

    --identity-icon-label-font-size: 8px;
    --searchbar-font-size: 10px;
    --default-font-family: sans-serif;
    --tab-font-size: 10px;
    --tab-close-btn-font-size: 7px;
    --bookmarks-toolbar-font-size: 10px;
    
}

:root {
    --urlbar-icon-scale-width: 14px;
    --urlbar-icon-scale-height: 14px;
    --icon-scale-adjustment: .7;
}

#PersonalToolbar {
    font-size: var(--bookmarks-toolbar-font-size);
}

#PersonalToolbar .bookmark-item {
/*     background: #333!important; */
    padding: 0px 2px!important;
    margin: 0px 1px!important;
    opacity: .7!important;
    color: #aaa;
/*     box-shadow: 1px 0px 1px #1118; */
}

#urlbar-input {
    text-align: var(--urlbar-text-align) !important;
}

#urlbar-input,
.urlbar-input-container image,
#TabsToolbar .tab-icon-image {
    color: #eee!important;
}

#navigator-toolbox {
    height: 36px !important;
}

toolbar {
    min-height: 18px !important;
}

#pinned-tabs-container[orient="horizontal"] {
  margin-inline-end: 0px!important;
}
.tabbrowser-tab {
    height: 18px !important;
}
.tabbrowser-tab[pinned="true"]{
    margin-right: 2px!important;
}

#navigator-toolbox:has(toolbar:nth-child(4 of #navigator-toolbox > toolbar:not([collapsed="true"]))) ~ #browser { 
    --amount-of-nav-toolbars: 1;
}

#navigator-toolbox:has(toolbar:nth-child(5 of #navigator-toolbox > toolbar:not([collapsed="true"]))) ~ #browser { 
    --amount-of-nav-toolbars: 2;
}

panel {
    --panel-background: #333e!important;
}
.panel-header h1 {
    font-size: 10px!important;
    font-family: var(--default-font-family);
}
panel toolbarseparator {
    background: #55f5!important;;
}
.panel-subview-body {
    font-size: 12px!important;
    font-family: var(--default-font-family);
    color: #ccc!important;
}
.panel-subview-body toolbarbutton:not(:hover) {
    background: #0000!important;
}

.panel-subview-body toolbarbutton {
    padding: 4px!important;
    margin: 1px!important;
    --button-background-color: #0000!important;;
}
#sidebar-main {
    margin-top: calc(var(--amount-of-nav-toolbars) * 18px)!important;
/*  For a hide/show on hover:    */
/*  margin-left: -32px!important; */
}
/* #navigator-toolbox:hover ~ #browser #sidebar-main,
#sidebar-main:hover {
    margin-left: 0!important;
} */

.sidebar-panel {
    font-size: 10px!important;
}
.sidebar-panel-header h4, #sidebar-panel-header h4  {
    font-size: 12px!important;
}
#heading-wrapper {
  & .chevron-icon, & #heading-icon {
    background-position: center;
    background-repeat: no-repeat;
    -moz-context-properties: fill;
    fill: currentColor;
    width: 16px!important;
    height: 16px!important;
    min-width: 16px!important;
    min-height: 16px!important;
    padding: 0;
    flex-shrink: 0;
    align-self: flex-start;
  }
}
.sidebar-panel moz-input-search {
    --input-text-min-height: 24px!important;
}
.sidebar-panel .options-container {
    height: 24px!important;
}
.fxview-tab-row-main {
  padding-block: 0px!important;
  padding-inline: 4px 4px!important;
  border-radius: 2px!important;
  gap: 8px!important;
}
.fxview-tab-row-favicon {
  min-height: 12px!important;
  min-width: 12px!important;
}

.sidebar-placesTree {
    margin: 0;
    font-size: 10px!important;
}
treechildren::-moz-tree-image {
    width: 12px!important;;
    height: 12px!important;;
}

#sidebar {
    --sidebar-background-color: #323232!important;
    --content-area-shadow: none;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--content-area-shadow);
    outline: 0.5px solid var(--sidebar-border-color);
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
}

#sidebar-box {
    margin-top: calc(var(--amount-of-nav-toolbars) * 18px)!important;
}

.actions-list {
  > moz-button {
    --button-icon-fill: var(--toolbarbutton-icon-fill);
    --button-attention-dot-color: light-dark(#53b93a, #73d25d);
  }

  > moz-button:not(.tools-overflow) {
    --button-outer-padding-inline: 0!important;
    --button-outer-padding-block: 0!important;

    &:first-of-type {
      --button-outer-padding-block-start: 0!important;
    }

    &:last-of-type {
      --button-outer-padding-block-end: 0!important;
    }
  }

}

#nav-bar {
    background-color: var(--toolbar-bgcolor) !important;
}

.tools-and-extensions, .actions-list {
    --icon-size-default: 10px !important;
    --button-padding-icon: 4px !important;
}

.tools-and-extensions[orientation="vertical"] moz-button {
    margin: 2px 0!important;
}

.actions-list {
    &>moz-button:not(.tools-overflow) {
        --button-outer-padding-inline: 4px !important;
    }
}

.button-background {
    min-height: 0px!important;
    
  & img {
    width: 10px!important;
    height: 10px!important;
    pointer-events: none;
  }
}

.actions-list {

  > moz-button {
    --button-size-icon-small: 14px !important;
    --button-size-icon: 14px !important;
  }
  moz-button:not([type~="ghost"]):not(:hover) {
    &::part(button) {
      background-color: var(--toolbarbutton-active-background);
    }
  }
}

#urlbar,
#navigator-toolbox {
    /*! --focus-outline: none !important; */
    /*  Maybe temporary? for macos goofyness  */
    transform: none !important;
}

#urlbar-background,
#searchbar {
    border: 0px !important;
}

#urlbar {
      align-content:center;
}

#urlbar[focused]>#urlbar-background,
#searchbar:focus-within {
    box-shadow: none !important;
}

#urlbar[open]>#urlbar-background {
    border-color: none !important;
    box-shadow: none !important;
}

#urlbar:is([focused],
    [open]),
#searchbar:focus-within {
    color: var(--toolbar-field-focus-color);
}

#urlbar:is([focused],
    [open])>#urlbar-background,
#searchbar:focus-within {
    --searchbar-gradient-green-color: #28332899;
    background: linear-gradient(to right,
            color-mix(in srgb, var(--toolbar-bgcolor), transparent 100%),
            color-mix(in srgb, var(--toolbar-bgcolor), transparent 60%) .2%,
            var(--searchbar-gradient-green-color) 5%,
            var(--searchbar-gradient-green-color) 50%,
            var(--searchbar-gradient-green-color) 95%,
            color-mix(in srgb, var(--toolbar-bgcolor), transparent 60%) 99.8%,
            color-mix(in srgb, var(--toolbar-bgcolor), transparent 100%) 100%);
    width: 100% !important;
}


#urlbar .urlbar-input-container {
    padding: 0px 2px!important;
}
#urlbar[breakout][breakout-extend] {
    --urlbar-margin-inline: 0px;
    
    margin-left: calc(-1 * var(--urlbar-margin-inline));
    width: calc(var(--urlbar-width) + 2 * var(--urlbar-margin-inline));
}

#urlbar-input {
    border-radius: 0 !important;
}
.urlbar-input-container {
    border: none !important;
}

#urlbar-container {}

.urlbarView {
    position: relative;
    width: 100% !important;
    margin: 0 !important;
}

.urlbarView-favicon {
    width: 10px !important;
    height: 10px !important;
    margin-inline-end: 8px !important;
    margin-left: 4px !important;
    flex-basis: 10px;
    flex-grow: 0;
}

.urlbarView {
    /* Don't handle window drag events in case we are overlapping a toolbar */
    /*   -moz-window-dragging: no-drag; */

    /* Match urlbar-background's border. */
    border-inline: 0px solid transparent !important;
}

#nav-bar-customization-target {
    margin: 0px 0px 0px 4px !important;
}


#TabsToolbar-customization-target {}

#TabsToolbar {
    align-items: flex-start;
}

.tab-icon-overlay {
    width: 12px !important;
    height: 12px !important;
    margin: 0 4px !important;
    top: -2px !important;
    background-image: none !important;
    cursor: pointer !important;
}

#TabsToolbar .tabbrowser-tab .tab-text {
    margin-block: 1px 0 !important;
}

.tab-content {}

.tabbrowser-tab {
    --toolbarbutton-inner-padding: 0px 2px !important;
}

#tabbrowser-tabs {
    --tab-min-width: unset;
    --tab-inline-padding: calc((var(--tab-collapsed-width) - var(--icon-size-default)) / 2);
    --tab-inline-padding: 2px;
    --tab-inner-inline-margin: 2px;
}

.urlbar-icon {
    height: 100% !important;
    
}

#urlbarView {
    background: transparent !important;
}


/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
    background: #1c1b22;
}

.urlbar-page-action {
    justify-content: center !important;
    margin-left: 3px !important;
}

.urlbar-page-action, 
.toolbarbutton-badge-stack, 
.urlbar-input-container image, 
#nav-bar .toolbarbutton-1,
#nav-bar .urlbar-icon, 
#nav-bar .identity-box-button image,
#nav-bar .toolbarbutton-icon,
#PersonalToolbar .toolbarbutton-icon {
    width: var(--urlbar-icon-scale-width) !important;
    height: var(--urlbar-icon-scale-height) !important;
    padding: 0px !important;
    align-self: center!important;
    border-radius: 1px!important;
    
}

#nav-bar #identity-icon-box label{
    padding-right: 2px;
}

#nav-bar .identity-box-button {
    height: var(--urlbar-icon-scale-height) !important;
    align-self: center!important;
}

.urlbar-input-container image {
    align-self: center !important;
    text-align: center;
    justify-self: center !important;
}

#TabsToolbar .tab-icon-image {
    width: 14px !important;
    height: 14px !important;
    --tab-icon-end-margin: 4px !important;
}

#TabsToolbar .toolbarbutton-icon {
    width: 14px !important;
    height: 14px !important;
    margin: 0 0 0 4px !important;
}

#nav-bar .toolbarbutton-1, #PersonalToolbar .toolbarbutton-1 {
    &:not([disabled]) {
        &:hover {
            background-color: var(--toolbarbutton-hover-background);
        }
        &:hover > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
            background: none!important;
        }
        &:is(:hover:active, [open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
            background: none!important;
        }
    }
}

.identity-box-button:not(:hover) {
    background: none!important;
}

.identity-box-button > label {
    font-family: var(--default-font-family);
    font-size: var(--identity-icon-label-font-size);
}
#nav-bar .identity-box-button image,
#nav-bar .urlbar-icon, 
#nav-bar .toolbarbutton-icon, 
#nav-bar .toolbarbutton-badge-stack>image, 
#nav-bar .toolbarbutton-badge-stack>box,
#TabsToolbar .toolbarbutton-icon, 
#TabsToolbar .tab-icon-image,
#PersonalToolbar .toolbarbutton-icon {
    transform: scale(var(--icon-scale-adjustment))!important;
}

/* --- GENERAL DEBLOAT ---------------------------------- */

/* Bottom left page loading status or url preview */
#statuspanel {
    display: none !important;
}

/* remove radius from right-click popup */
menupopup,
panel {
    --panel-border-radius: 0px !important;
}

menu,
menuitem,
menucaption {
    border-radius: 0px !important;
}

/* no stupid large buttons in right-click menu */
menupopup>#context-navigation {
    display: none !important;
}

menupopup>#context-sep-navigation {
    display: none !important;
}

/* --- DEBLOAT NAVBAR ----------------------------------- */
#back-button {
    /*   display: none; */
}

#forward-button {
    /*   display: none; */
}

#reload-button {
    display: none;
}

#stop-button {
    display: none;
}

#home-button {
    display: none;
}

#library-button {
    display: none;
}

/* #fxa-toolbar-menu-button { display: none; } */
/* empty space before and after the url bar */
#customizableui-special-spring1,
#customizableui-special-spring2 {
    display: none;
}

.private-browsing-indicator-with-label {
    display: none;
}

/* --- STYLE NAVBAR ------------------------------------ */

/* remove padding between toolbar buttons */
.toolbarbutton-1 {
    padding: 0 0 !important;
    margin-right: 2px !important;
}

/* #nav-bar-customization-target .toolbarbutton-1 {
    margin-right: 0px !important;
} */

/* add it back to the downloads button, otherwise it's too close to the urlbar */
#downloads-button {}

/* add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
    padding: 0px 2px 0px 2px !important;
}

#urlbar-container {
    --urlbar-container-height: var(--urlbar-height-setting) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-family: var(--default-font-family);
    font-size: var(--searchbar-font-size);
}
#urlbar, #searchbar {
    font-family: var(--default-font-family);
    font-size: var(--searchbar-font-size);
}

#urlbar {
    --urlbar-height: var(--urlbar-height-setting) !important;
    --urlbar-toolbar-height: var(--urlbar-height-setting) !important;
    min-height: var(--urlbar-height-setting) !important;
    border-color: var(--lwt-toolbar-field-border-color,
            hsla(240, 5%, 5%, 0.25)) !important;
}

#urlbar-input {
    margin-left: 0.4em !important;
    margin-right: 0.4em !important;
}

#navigator-toolbox {
    border: none !important;
}

/* keep pop-up menus from overlapping with navbar */
#widget-overflow {
    margin: 4px !important;
}

#customizationui-widget-panel {
    margin: 4px !important;
}

#unified-extensions-panel {
    margin-top: 4px !important;
}

#appMenu-popup {
    margin-top: 4px !important;
}

/* --- UNIFIED EXTENSIONS BUTTON ------------------------ */

/* make extension icons smaller */
#unified-extensions-view {
    --uei-icon-size: 16px;
}

/* hide bloat */
.unified-extensions-item-message-deck,
#unified-extensions-view>.panel-header,
#unified-extensions-view>toolbarseparator,
#unified-extensions-manage-extensions {
    display: none !important;
}

/* add 3px padding on the top and the bottom of the box */
.panel-subview-body {
    padding: 3px 0px !important;
}

.unified-extensions-item-contents {
    line-height: 1 !important;
    white-space: nowrap !important;
}

#unified-extensions-panel .unified-extensions-item {
    margin-block: 0 !important;
}

.toolbar-menupopup :is(menu,
    menuitem),
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
    padding: 0px !important;
}

/* --- DEBLOAT URLBAR ----------------------------------- */
#pageActionButton {
    display: none;
}

#pocket-button {
    display: none;
}

#urlbar-zoom-button {
    display: none;
}

#tracking-protection-icon-container {
    display: none !important;
}

/* #reader-mode-button{ display: none !important; } */
/* #star-button { display: none; } */
/* #star-button-box:hover { background: inherit !important; } */
#urlbar-searchmode-switcher {
    display: none;
}

#searchmode-switcher-chicklet {
    display: none !important;
}

#identity-box {
    margin-inline-end: 0 !important;
}

.identity-box-button {
    padding: 0 !important;
    margin-right: 2px !important;
}

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button {
    display: none;
}

/* remove container indicator from urlbar */
#userContext-label,
#userContext-indicator {
    display: none !important;
}

/* --- STYLE TAB TOOLBAR -------------------------------- */
#titlebar {
    --proton-tab-block-margin: 0px !important;
    --tab-block-margin: 0px !important;
}

#TabsToolbar,
.tabbrowser-tab {

    /*   max-height: var(--tab-min-height) !important; */
    font-size: var(--tab-font-size) !important;
}

tab {
    font-family: var(--default-font-family);
    /*   font-weight: bold; */
    border: none !important;
    padding-top: 0 !important;
}

.tab-content {
    /*   padding: 0 0 0 var(--tab-inline-padding); */
}

.tab-background {
    margin-block: 0 !important;
    min-height: var(--tab-min-height);
    outline-offset: 0 !important;
}

/* safari style tab width */
.tabbrowser-tab[fadein] {
    max-width: 100vw !important;
    border: none;
}


/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
    display: none !important;
}

#tabbrowser-tabs .tabbrowser-tab:hover .tab-close-button {
    display: initial !important;
    opacity: .6 !important;
    font-size: var(--tab-close-btn-font-size) !important;
    padding: 6px 3px !important;
    /*   width: 16px!important; */
    width: 16px !important;
    cursor: pointer !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button:hover {
    opacity: .9 !important;
    background-color: transparent !important;
}

/* disable favicons in tab */
/* .tab-icon-stack:not([pinned]) { display: none !important; } */
.tabbrowser-tab {
    /* remove border between tabs */
    padding-inline: 0px !important;
    /* reduce fade effect of tab text */
    --tab-label-mask-size: 1em !important;
    /* fix pinned tab behaviour on overflow */
    overflow-clip-margin: 0px !important;
}

.tab-icon-stack {
    margin-right: 2px;
    margin-left: 2px;
}

#tabbrowser-tabs, 
#TabsToolbar-customization-target {
    background-color: var(--tabs-background-color);
}
/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
    background: var(--tab-active-bg-color) !important;
    color: var(--identity-icon-color,
            var(--tab-active-fg-fallback-color)) !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([selected="true"]) .tab-content {
    
    background-color: var(--tab-inactive-bg-color) !important;
    color: #eee !important;
}

/* hide window controls */
.titlebar-buttonbox-container {
    display: none;
}

/* remove titlebar spacers */
.titlebar-spacer {
    display: none !important;
}

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected],
    [multiselected]) {
    box-shadow: none !important;
}

/* remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab:nth-child(1 of :not([pinned],
        [hidden])) {
    margin-inline-start: 0px !important;
}

/* remove dropdown menu button which displays all tabs on overflow */
#alltabs-button {
    display: none !important;
}

/* fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    /*! --uc-navbar-transform: -18px; */
    /*   calc(0px - var(--urlbar-height-setting)); */
}

#tabbrowser-tabs {
    min-height: var(--tab-min-height) !important;
}

/* remove overflow scroll buttons */
#scrollbutton-up,
#scrollbutton-down {
    display: none !important;
}

/* remove new tab button */
#tabs-newtab-button {
    display: none !important;
}

/* hide private browsing indicator */
#private-browsing-indicator-with-label {
    display: none;
}

/* --- AUTOHIDE NAVBAR ---------------------------------- */
:root {
    --uc-navbar-transform: -18px;
    /*   calc(0px - var(--urlbar-height-setting)); */
}

#navigator-toolbox>div {
    display: contents;
}

:root[sessionrestored] :where(#nav-bar,
    #PersonalToolbar,
    #tab-notification-deck,
    .global-notificationbox) {
    transform: translateY(0);
}

#nav-bar,
#urlbar-input,
#nav-bar>.sidebar-button,
#PersonalToolbar {
    transition: all 0.2s ease-in-out !important;
/*! color: #eeeeee00 !important; */
}

.urlbarView {
    background: #333e;
}

:root:is([customizing],
    [chromehidden*="toolbar"]) :where(#nav-bar,
    #PersonalToolbar,
    #tab-notification-deck,
    .global-notificationbox) {
    transform: none !important;
    opacity: 1 !important;
    color: #eee !important;
}

#nav-bar:not([customizing]) {
    opacity: 0;
    position: relative;
    z-index: 2;
    /*! justify-self: baseline; */
    /*! vertical-align: baseline; */
    /*! align-content: baseline; */
}

#titlebar {
    position: relative;
    z-index: 3;
}

#urlbar-background {
    opacity: 1 !important;
}

#navigator-toolbox,
#sidebar-box,
#sidebar-main,
#sidebar-splitter,
#tabbrowser-tabbox {
    z-index: auto !important;
}

#PersonalToolbar {
    position: relative!important;
    z-index: 2;
    opacity: 0;
    
}

#urlbar-background,
#searchbar {
    transition: opacity .2s ease-in-out !important;
/*     background: var(--toolbar-field-background-color) !important; */
    /* Not currently supported :/ */
    /*   backdrop-filter: blur(6px); */
}

:root{
/*     --urlbarView-action-color: rgb(255,0,0)!important;;
      --urlbarView-separator-color: rgb(255,0,0)!important;;
      --urlbarView-highlight-background: rgb(255,0,0)!important;;
      --urlbarView-highlight-color: rgb(255,0,0)!important;;
      --urlbarView-hover-background: rgb(255,0,0)!important;;
    --urlbarView-secondary-text-color: rgb(255, 0, 0)!important;; */
/*      color: red !important; text */
/*      background-color: rgb(0, 120, 215) !important; /* background (faded blue) */
}

.urlbar-input-container,
#identity-box, 
#urlbar-input, 
.urlbar-input-box, 
.urlbar-input {

    transition: opacity .2s ease;
    opacity: 0;
 
}

#urlbar-background,
#searchbar {
    opacity: 1;
}


/* Show when toolbox is hovered */
#titlebar:hover~.browser-toolbar,
.browser-titlebar:hover~ :is(
    #nav-bar, 
    #PersonalToolbar, 
    #urlbar-input,
    #identity-box
),

#navigator-toolbox:focus-within>.browser-toolbar #urlbar-input, 
#navigator-toolbox:hover,
#navigator-toolbox:hover #PersonalToolbar,
#navigator-toolbox:hover #urlbar,

#nav-bar:hover,
#PersonalToolbar:hover,
#urlbar-input:hover,

#nav-bar:has(~.browser-toolbar:hover), /* previous sibling */

#navigator-toolbox:focus-within>.browser-toolbar .urlbar-input-container,
#navigator-toolbox:focus-within>.browser-toolbar #identity-box,
#navigator-toolbox:focus-within>.browser-toolbar #urlbar-input,
#navigator-toolbox:focus-within>.browser-toolbar .urlbar-input-box,
#navigator-toolbox:focus-within>.browser-toolbar .urlbar-input,

#navigator-toolbox:hover .urlbar-input-container,
#navigator-toolbox:hover #identity-box, 
#navigator-toolbox:hover #urlbar-input, 
#navigator-toolbox:hover .urlbar-input-box, 
#navigator-toolbox:hover .urlbar-input
{
    /*   transform: translateY(0); */
    opacity: 1!important;
}

:root[sessionrestored] #urlbar[popover] {
/*     opacity: 0; */
/*     pointer-events: none; */
    /*   transform: translateY(var(--uc-navbar-transform)); */
}

#mainPopupSet:has(
    > [panelopen]:not(
        #ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~toolbox #urlbar[popover],
        .browser-titlebar:is(
            :hover,
            :focus-within
        )~#nav-bar #urlbar[popover],
        #nav-bar:is(:hover, :focus-within) #urlbar[popover],
        #urlbar-container>#urlbar[popover]:is([focused],
    [open]) 
{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* This ruleset is separate, because not having :has support breaks other selectors as well */
#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar {
    transform: translateY(0);
    opacity: 1;
}

/* This ruleset is separate, because not having :has support breaks other selectors as well */
#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar .urlbar-input-container,

#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar #identity-box, 

#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar #urlbar-input, 

#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar .urlbar-input-box, 

#mainPopupSet:has(> [panelopen]:not(#ask-chat-shortcuts,
        #selection-shortcut-action-panel,
        #chat-shortcuts-options-panel,
        #tab-preview-panel))~#navigator-toolbox
    > .browser-toolbar .urlbar-input{
    opacity: 1;
}



/* Move up the content view */
:root[sessionrestored]:not([chromehidden~="toolbar"])>body>#browser {
    margin-top: var(--uc-navbar-transform);
}
